
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bad</title>
</head>
<body>
    <div> 
        Wystąpił błąd w bazie danych!!!
    </div>
</body>
</html>
