@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Serwis Prod V1</h1>
    <p class="lead">Serwis Prod V1 to typowy serwis rejestrujący i obliczający koszty produkcji wyrobów na potrzeby branży muzycznej</p>
    <p>Na podstawie książki: Paweł Dróżdż "Programuj z .Net" zmodyfikował i rozbudował: Piotr Wojciechowski</p>
</div>
