
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bad</title>
</head>
<body>
    <div> 
        Przepraszamy!!!<br />
        Wystąpił błąd związany z bazą danych!!!<br />
        Skontaktuj się z serwisem!!!<br />
        <p>@ViewBag.Message</p>
    </div>
</body>
</html>
